{% extends 'base.html.twig' %}

{% block title %}New Campaign{% endblock %}

{% block body %}
    <h1>Create new Campaign</h1>

    {{ include('qcm/_form.html.twig') }}

    <a href="{{ path('app_qcm_index') }}">back to list</a>
{% endblock %}
