{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}

   <div class="container dashboard">
       <div class="row">
           <div class="col-lg-4">
               <div class="item">
                   <h3>{{ numberNewRequest }} New Request</h3>
                   <p>New requests for companionship have been requested !</p>
                   <a href="" class="btn btn-primary">See here</a>
               </div>
           </div>
           <div class="col-lg-4">
               <div class="item">
                   <h3>{{ numberNewRequest }} New Request</h3>
                   <p>New requests for companionship have been requested !</p>
                   <a href="" class="btn btn-primary">See here</a>
               </div>
           </div>
       </div>
   </div>

{% endblock %}